@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&family=PT+Sans:ital@0;1&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #000;
    font-size: 20px;
}
a{
    text-decoration: none;
}
ul, li {
    list-style: none;
}
img{
    max-width: 300px;
}
h1{
    text-align: center;
    padding: 10px;
}
.top-link{
    display: grid;
    grid-template-columns: 6fr 2fr 1fr 1fr;
    background-color: red;
    align-items: center;
    grid-auto-rows:80px;
}
.form-link ul{
 display: grid;
 grid-template-columns: repeat(4, 1fr);
}
.country-currency .sub-currency{
    display: none;
}
.logo{
    margin: 30px auto;
    text-align: center;
}
.nav-bar{
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    justify-items: center;
    padding: 20px;
}
.smart{
    grid-column: 3/4;
    padding-top: 10px;
}
.access, .home, .women {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 16px;
    grid-gap: 20px;
}
.products-1{
    grid-column: 3/4;
    grid-row: 1/2;
}
.products-2{
    grid-column: 4/5;
    grid-row: 1/2;
}
.footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}
.copy{
    text-align: center;
    align-items: center;
}
.social{
    display: grid;
    grid-template-columns: repeat(12, 50px);
    justify-items: center;
}
.social li:nth-child(1){
    justify-self: 8/9;
}